.picker_wrapper.popup {
  z-index: 99;
  width: 170px;
  margin: 0;
  box-shadow: 0 0 10px 1px #eaeaea;
  background: #ffffff;
}

.picker_arrow {
  display: none;
}

.layout_default .picker_slider, .layout_default .picker_selector {
  padding: 5px;
}

.colorPlugin.ce-inline-tool {
  width: 38px;
  border-radius: 4px;
}

.colorPlugin.ce-inline-tool--active svg {
  fill: #3c99ff;
}

#color-left-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 100%;
}

#color-left-btn:hover {
  border-radius: 4px 0 0 4px;
  background: rgba(203, 203, 203, 0.2);
}

#color-text {
  padding: 0 4px;
}

#color-btn-text {
  height: 15px;
}

.ce-popover__container {
  overflow: visible;
}

.ce-popover--inline .ce-popover__items {
   overflow: hidden;
}
